/* Universal Selector - Applies to all HTML element Tags */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
       background: white;
}

.gamil-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header section css */

.gmail-header{
    display: flex;
    text-align: center;
    padding: 8px 12px;
    height: 61px;
    background-color:#F8FAFD;
}

.header-search{
    max-width: 500px;
    background: #e5e8e8;
    border: 0px solid black;
    border-radius: 50px;
}