/* Universal Selector - Applies to all HTML element Tags */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
       background: white;
}

.gamil-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header section css */

.gmail-header{
    display: flex;
    text-align: center;
    padding: 8px 12px;
    height: 61px;
    background-color:#F8FAFD;
}

.header-search{
    max-width: 500px;
    background: #e5e8e8;
    border: 0px solid black;
    border-radius: 50px;
}

/* ***** side bar css */

.compose-btn{
    background: #C2E7FF;
    border: none;
    border-radius:15px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: ba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    color: black;
    text-align: center;
}

.sidebar{
  padding: 9px;
  background: #F8FAFD;
}

.compose-btn:hover{
    background:#C2E7FF;
    box-shadow: 0 3px 3px 0  rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
}

ul{
    list-style-type: none;
    padding: 0;
}

.sidebar-nav{
    padding-left: 10px;
}

.nev-item{
    padding: 10px 24px 0 20px !important;
    height: 32px;
    border-radius: 0 16px 16px 0 !important;
    font-size: 16px;
    color: #282124;
    margin: 2px 0;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.email-list{
   background: #fff;
}

.email-row{
     height: 45px;
    cursor: pointer;
}